name: Build macOS Installer
on:
  push:
    branches: [ main ]


jobs:
  build-deploy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@master

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: 'https://registry.npmjs.org'

      - name: Install project dependencies
        run: npm install

      - name: Remove testing resources
        run: rm -rf test

      - name: npm install and pack
        run: sudo npx -y oclif pack:macos

      - name: Upload SAF-CLI macOS Installer Artifact
        uses: actions/upload-artifact@v2
        with:
          name: SAF-CLI macOS Installer
          path: dist/macos/saf-*.pkg