name: Build macOS Installer
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build-deploy:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18.18
          check-latest: true
          cache: 'npm'

      - name: Install project dependencies
        run: npm ci

      - name: Remove testing resources
        run: rm -rf test

      - name: npm pack
        run: npx oclif pack macos

      - name: Upload SAF-CLI macOS Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SAF-CLI macOS Installer
          path: dist/macos/saf-*.pkg
