name: Run SAF-CLI E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    # runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
       platform: [ ubuntu, macos, windows ]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js on ${{ matrix.platform }}
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          check-latest: true
          cache: 'npm'

      - name: Install dependencies on ${{ matrix.platform }}
        run: npm ci
        
      - name: Install cinc-auditor on ${{ matrix.platform }}
        if: ${{ matrix.platform == 'windows' }}
        shell: pwsh
        run: |
          Start-Process powershell -Verb RunAs
          . { iwr -useb https://omnitruck.cinc.sh/install.ps1 } | iex; install -project cinc-auditor
          $env:Path = $env:Path + ';C:\cinc-project\cinc-auditor\bin' + ';C:\cinc-project\cinc-auditor\embedded\bin'
          cinc-auditor -v

      - name: Install cinc-auditor on ${{ matrix.platform }}
        if: ${{ matrix.platform == 'ubuntu' || matrix.platform == 'macos' }}
        run: |
          curl -L https://omnitruck.cinc.sh/install.sh | sudo bash -s -- -P cinc-auditor

      - name: Compile and run tests on ${{ matrix.platform }}
        run: |
          npm run prepack
          npm run test