name: Lint SAF-CLI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
     - uses: actions/checkout@v3

     - name: Setup Node.js
       uses: actions/setup-node@v3
       with:
        node-version: 18
        cache: 'npm'

     - name: Install project dependencies
       run: npm ci

     - name: Run lint
       run: npm run lint:ci
