name: Push SAF CLI to Docker Hub on every merge to master and tag as latest

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the SAF Repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push the container image to DockerHub
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: "linux/amd64,linux/arm64"
          tags: mitre/saf:latest
      - name: Get Docker SHA since the Iron Bank release requires us to specify the exact resources we need them to pull into the environment
        shell: bash
        id: get-docker-sha
        run: |
          echo "DOCKER_SHA=$(docker pull mitre/saf:latest > /dev/null 2>&1 && docker inspect --format='{{index .RepoDigests 0}}' mitre/saf:latest | cut -d '@' -f 2)" >> $GITHUB_ENV
      - name: Upgrade Iron Bank
        uses: mitre/ironbank_release_action@main
        with:
          name: SAF-CLI
          version: ${{ github.sha }}
          ironbank_pat: ${{ secrets.SAF_IRONBANK_REPO1_PAT }}
          ironbank_username: ${{ secrets.SAF_IRONBANK_REPO1_USERNAME }}
          ironbank_project_id: 17078
          ironbank_project_clone_url: repo1.dso.mil/dsop/mitre/security-automation-framework/saf-mainline.git
          git_commit_author_name: "Automated SAF CLI Release"
          git_commit_author_email: "saf@mitre.org"
          update_commands: |
            yq e -i '.args.SAF_VERSION=\"${{ github.sha }}\" | .tags[0]=\"${{ github.sha }}\" | .labels.\"org.opencontainers.image.version\"=\"${{ github.sha }}\" | .resources[0].tag=\"mitre/saf:${{ github.sha }}\" | .resources[0].url=\"docker://docker.io/mitre/saf@${{ env.DOCKER_SHA }}\"' hardening_manifest.yaml
            sed -i s/SAF_VERSION=\.\*/SAF_VERSION=${{ github.sha }}/ Dockerfile
