name: Build and Test SAF CLI Docker Image on every Pull Request or Push to Main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  TEST_TAG: saf:testTag

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Checkout the SAF Repository
        uses: actions/checkout@v3
      - name: Build Docker Image
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          load: true # makes it available for the local docker executable
          # doesn't need multiplatform support since we're only running it in this workflow
          tags: ${{ env.TEST_TAG }}
      - name: Test
        run: |
          docker run --rm ${{ env.TEST_TAG }}
